.background {
    background-color: grey;
    box-sizing: border-box;
    text-align: center;
}

.content{
    display: grid;
    justify-items: center;  
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    font-family: Arial, Helvetica, sans-serif; /* personal preference */
}

.header {
    background-color: beige;
}

.nav{
    background-color: beige;
}

/* TODO: create new wrppaer for the section and aside groupings */
/* TODO: use fractions for the aside/secion columns per 10min into Grid video */
/* TODO: nested divs at 14min of grid video */

.section {
    background-color: beige;
}

.article {
    background-color: pink;
}

.h1 {
    background-color: yellow;
}

.p {
    background-color: yellow;
}

.aside {
    background-color: beige;
}

.footer {
    background-color: beige;
}