.background {
    background-color: grey;
    box-sizing: border-box;
    text-align: center;
}

.content{
    display: grid;
    justify-items: center;
}

.header {
    background-color: beige;
}

.nav{
    background-color: beige;
}

.section {
    background-color: beige;
}

.article {
    background-color: pink;
}

.h1 {
    background-color: yellow;
}

.p {
    background-color: yellow;
}

.aside {
    background-color: beige;
}

.footer {
    background-color: beige;
}